
<div class="col-sm-8"> 
    <form class="form-horizontal" #taskForm="ngForm" (ngSubmit)="addOrUpdateTask(task); taskForm.reset()" >
      <div class="form-group row">
          <label for="task" class="col-sm-2 col-form-label">Task:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="task" name="task" [(ngModel)]="task.task"/>
          </div>
      </div>
      <div class="form-group row">
          <label for="priority" class="col-sm-2 col-form-label">Priority:</label>
          <div class="col-sm-6">
          <input type="range" min="0" max="30" class="form-control" id="priority" name="priority" [(ngModel)]="task.priority" />
          </div>
      </div>
      <div class="form-group row">
          <label for="parentTask" class="col-sm-2 col-form-label">Parent Task:</label>
          <div class="col-sm-6">
            <input type="text" id="parentTask" class="form-control" name="parentTask" [(ngModel)]="task.parentTask"/>
          </div>
      </div>
      <div class="form-group row">
          <label for="startDate" class="col-sm-2 col-form-label">Start Date:</label>
          <div class="col-sm-6">
              <input type="text" id="startDate" class="form-control" name="startDate" [(ngModel)]="task.startDate"/>
              </div>
      </div>
      <div class="form-group row">
          <label for="endDate" class="col-sm-2 col-form-label">End Date:</label>
          <div class="col-sm-6">
          <input type="text" id="endDate" class="form-control" name="endDate" [(ngModel)]="task.endDate"/>
          </div>
      </div>
      
        <div class="col-sm-2" style="text-align: center">
          <button type = "submit" class="btn btn-success" >Update</button>
        </div>
          <div class="col-sm-2">  
            <button type = "reset" class="btn btn-light">Cancel</button>
          </div>
    
    </form>
    </div>
        