
<div>
    <div class="form-group row">
        <label for="task" class="col-sm-1 col-form-label">Task:</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="task" name="task" />
        </div>
    
        <label for="parentTask" class="col-sm-1 col-form-label">Parent Task:</label>
        <div class="col-sm-5">
          <input type="text" id="parentTask" class="form-control" name="parentTask" />
        </div>
    </div>

    <div class="form-group row">
        <label for="priorityFrom" class="col-sm-1 col-form-label">Priority From:</label>
        <div class="col-sm-2">
        <input type="text" class="form-control" id="priorityFrom" name="priorityFrom" />
        </div>
    
        <label for="priorityTo" class="col-sm-1 col-form-label">Priority To:</label>
        <div class="col-sm-2">
        <input type="text" class="form-control" id="priorityTo" name="priorityTo" />
        </div>
    
        <label for="startDate" class="col-sm-1 col-form-label">Start Date:</label>
        <div class="col-sm-2">
            <input type="text" id="startDate" class="form-control" name="startDate" />
            </div>
    
        <label for="endDate" class="col-sm-1 col-form-label">End Date:</label>
        <div class="col-sm-2">
        <input type="text" id="endDate" class="form-control" name="endDate" />
        </div>
    </div>

</div>

<hr/>
<table>
    <tr>
        <td>Task</td>
        <td>Parent</td>
        <td>Priority</td>
        <td>Start</td>
        <td>End</td>
        <td></td>
        <td></td>
    </tr>
    <tr *ngFor = "let task of taskItems">
        <td>{{task.task}}</td>
        <td>{{task.parentTask}}</td>
        <td>{{task.priority}}</td>
        <td>{{task.startDate}}</td>
        <td>{{task.endDate}}</td>
        <td><a href="app-update">Edit</a></td>
        <td *ngIf="!task.taskEndStatus"><button (click)="updateEndStatus(task)">End Task</button></td>
    </tr>
</table>