<a routerLink = "app-add">Add Task</a>
<a routerLink = "app-view">View Task</a>
<br/>

<div>
    <div class="form-group row">
        <label for="task" class="col-sm-2 col-form-label">Task:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="task" name="task" />
        </div>
    
        <label for="parentTask" class="col-sm-2 col-form-label">Parent Task:</label>
        <div class="col-sm-6">
          <input type="text" id="parentTask" class="form-control" name="parentTask" />
        </div>
    </div>

    <div class="form-group row">
        <label for="priorityFrom" class="col-sm-2 col-form-label">Priority From:</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" id="priorityFrom" name="priorityFrom" />
        </div>
    </div>

    <div class="form-group row">
        <label for="priorityTo" class="col-sm-2 col-form-label">Priority To:</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" id="priorityTo" name="priorityTo" />
        </div>
    </div>

    <div class="form-group row">
        <label for="startDate" class="col-sm-2 col-form-label">Start Date:</label>
        <div class="col-sm-6">
            <input type="text" id="startDate" class="form-control" name="startDate" />
            </div>
    </div>
    <div class="form-group row">
        <label for="endDate" class="col-sm-2 col-form-label">End Date:</label>
        <div class="col-sm-6">
        <input type="text" id="endDate" class="form-control" name="endDate" />
        </div>
    </div>

</div>